*.o
*.lo
*~
*.1
*.5
*.7
include/config.in
Makefile
PLATFORM
autom4te.cache/
config.log
config.status
config.status.lineno
configure.lineno
doc/siegerc
include/config.h
include/joedog/joepath.h
include/stamp-h1
libtool
utils/bombardment
utils/siege.config
utils/siege2csv.pl
